fastapi-offline==1.7.4
fastapi==0.118.0
flair==0.15.1
numpy==1.26.4
https://github.com/explosion/spacy-models/releases/download/de_core_news_lg-3.8.0/de_core_news_lg-3.8.0-py3-none-any.whl 
opentelemetry-api==1.37.0
